<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>관리자페이지: 공지사항 목록</title>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/}"> HOME </a> &gt; <span> 공지사항 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>공지사항</h1>
                <div class="card p-3">
<!--                    <div th:replace="/include/searchList :: fragment-search('/admin/userList', 'id:아이디,name:이름,tel:전화번호')"></div>-->
                    <table id="myTable" class="table text-center mb-3" th:if="${not #lists.isEmpty(noticeList)}">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="noticeList, notice : ${noticeList}">
                            <tr>
                                <td>[[${notice.count}]]</td>
                                <td><a th:href="@{/admin/noticeGet_Admin(no=${noticeList.no})}">[[${noticeList.title}]]</a></td>
                                <td>[[${noticeList.author}]]</td>
                                <td th:text="${#temporals.format(noticeList.createdTime, 'yyyy-MM-dd hh:mm')}"></td>
                            </tr>
                        </th:block>
                        <th:block th:if="${noticeList.size() <= 0}">
                            <tr>
                                <td colspan="4">목록이 없습니다.</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <a th:href="@{/admin/noticeadd_Admin}" class="btn btn-primary">글쓰기</a>

<!--                    <th:block th:if="${not #lists.isEmpty(userList)}"><div th:replace="/include/pagination.html :: fragment-pagination('/admin/userList')"></div></th:block>-->
                    <div th:if="${#lists.isEmpty(noticeList)}" class="text-center">목록이 비어있습니다.</div>
                </div>
            </div>
            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
