<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>관리자페이지: 회원목록</title>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/}"> HOME </a> &gt; <span> 회원관리 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>회원관리</h1>
                <div class="search_from" style="text-align: center">
                    <select name="select_filter" class="select_filter">
                        <option value="1">아이디</option>
                        <option value="2">이름</option>
                        <option value="3">이메일</option>
                        <option value="4">가입날짜</option>
                        <option value="5">상태</option>
                        <option value="6">권한</option>
                    </select>
                    <input type="text" name="search_filter" class="search_filter">
                </div>
                <div class="card p-3">
                    <table id="myTable" class="table text-center mb-3" th:if="${not #lists.isEmpty(userList)}">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>가입날짜</th>
                                <th>최종로그인</th>
                                <th>상태</th>
                                <th>권한변경</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user, about : ${userList}">
                                <td th:text="${about.count}"></td>
                                <td><a th:text="${user.id}" th:href="@{/admin/userGet(id=${user.id})}"></a></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${#temporals.format(user.createdTime, 'yyyy-MM-dd hh:mm')}"></td>
                                <td th:text="${#temporals.format(user.loginAt, 'yyyy-MM-dd hh:mm')}"></td>
                                <td>
                                    <form th:action="@{/admin/changeStatus_list(id=${user.getId()})}" method="post">
                                        <select name="status" id="status" class="select-box" >
                                            <option value="ACTIVE" th:selected="${user.status} eq 'ACTIVE'">활동</option>
                                            <option value="REST" th:selected="${user.status} eq 'REST'">휴면</option>
                                            <option value="OUT" th:selected="${user.status} eq 'OUT'">탈퇴</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary" >상태 변경</button>
                                    </form>
                                </td>
                                <td>
                                    <form th:action="@{/admin/role_list(id=${user.getId()})}" method="post">
                                        <select name="role" id="role" class="select-box" >
                                            <option value="ADMIN" th:selected="${user.role} eq 'ADMIN'">관리자</option>
                                            <option value="USER" th:selected="${user.role} eq 'USER'">유저</option>
                                            <option value="TEACHER" th:selected="${user.role} eq 'TEACHER'">선생님</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary" >권한 변경</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:if="${#lists.isEmpty(userList)}" class="text-center">목록이 비어있습니다.</div>
                </div>
            </div>
            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
