<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 목록</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/admin/userList}"> HOME </a> > <span> 질문관리 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>질문관리</h1>
                <div class="search_from" style="text-align: center">
                    <select name="select_filter" class="select_filter">
                        <option value="1">강좌</option>
                        <option value="2">질문</option>
                        <option value="3">등록일</option>
                        <option value="4">답변여부</option>
                    </select>
                    <input type="text" name="search_filter" class="search_filter">
                </div>
                <div class="card p-3">
                    <table id="myTable" class="table text-center mb-3">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>강좌</th>
                            <th>질문</th>
                            <th>등록일</th>
                            <th>답변여부</th>
                            <th>삭제여부</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="dto, status : ${dtoList}">
                            <tr>
                                <td th:text="${dto.no}"></td>
                                <td>
                                    <p class="overDot" style="width: 250px;" th:text="${dto.course.title}"></p>
                                </td>
                                <td>
                                    <p class="overDot" style="width: 250px;" th:text="${dto.que}"></p>
                                </td>
                                <td th:text="${#temporals.format(dto.getCreatedTime(), 'yyyy-MM-dd hh:mm')}"></td>
                                <td th:text="${dto.ans} eq null ? '미답변' : '답변완료' " th:style="${dto.ans} eq null ? 'color:red' : 'color:blue'"></td>
<!--                                <td th:text="${dto.deleteYn} eq 'y' ? '삭제' : ''" style="color:red;"></td>-->
                                <td>
                                    <form th:action="@{/admin/ansDelRec(no=${dto.no})}" method="post">
                                        <select name="deleteYn" id="deleteYn" class="select-box">
                                            <option value="y" th:selected="${dto.deleteYn} eq 'y'">삭제</option>
                                            <option value="n" th:selected="${dto.deleteYn} eq 'n'">생성</option>
                                        </select>
                                        <button type="submit" class="btn2 btn-primary" >상태 변경</button>
                                    </form>
                                </td>
                                <td>
                                    <th:block th:if="${dto.deleteYn} eq 'n'">
                                        <a th:href="@{/admin/ansInsUpd(no=${dto.no})}" class="btn"
                                           th:text="${dto.ans} eq null ? '답변하기' : '답변수정'" th:class="${dto.ans} eq null ? 'btn btn-primary' : 'btn btn-success'"></a>
                                    </th:block>
<!--                                    <th:block th:if="${dto.deleteYn} eq 'n'">
                                        <a th:href="@{/admin/ansDelete(no=${dto.no})}" class="btn btn-danger">제거</a>
                                    </th:block>

                                    <th:block th:if="${dto.deleteYn} eq 'y'">
                                        <a th:href="@{/admin/ansRecover(no=${dto.no})}" class="btn btn-success">복구</a>
                                    </th:block>-->
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>