<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 목록</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="content-wrapper">
                <h1>관리자페이지</h1>
                <h2>질문관리</h2>
                <div class="card p-3">
                    <table id="myTable" class="table text-center mb-3">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>강좌</th>
                            <th>질문</th>
                            <th>등록일</th>
                            <th>처리</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="dto, status : ${dtoList}">
                            <tr>
                                <td th:text="${dto.no}"></td>
                                <td th:text="${dto.course.title}"></td>
                                <td th:text="${dto.que}"></td>
                                <td th:text="${#temporals.format(dto.getCreatedTime(), 'yyyy-MM-dd hh:mm')}"></td>
                                <td th:text="${dto.ans} eq null ? '미답변' : '답변완료' "></td>
                                <td>
                                    <th:block th:if="${dto.ans} eq null">
                                        <a th:href="@{/admin/ansInsert(no=${dto.no})}" class="btn btn-primary">답변하기</a>
                                    </th:block>

                                    <th:block th:if="${dto.ans} ne null">
                                        <a th:href="@{/admin/ansUpdate(no=${dto.no})}" class="btn btn-primary">답변수정</a>
                                    </th:block>

                                    <a th:href="@{/admin/ansDelete(no=${dto.no})}" class="btn btn-danger">제거</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>

                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>