<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의등록</title>
    <style>
        .file-list {
            height: 200px;
            width: 400px;
            overflow: auto;
            border: 1px solid #989898;
            padding: 10px;
        }
        .file-list .filebox p {
            font-size: 14px;
            margin-top: 10px;
            display: inline-block;
        }
        .file-list .filebox .delete i{
            color: #ff5353;
            margin-left: 5px;
            cursor: pointer;
        }
    </style>
    <th:block th:replace="/include/adminhead :: head"></th:block>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="content-wrapper">
                <h1>관리자페이지</h1>
                <h2>강의 등록</h2>
                <div class="card p-3">
                    <form method="post" class="text-center mb-3 was-validated" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="id" class="form-label">아이디</label>
                            <input type="hidden" name="cno" id="cno" th:value="${cno}" readonly>
                            <input type="text" name="id" id="id" class="form-control" th:value="${id}" readonly>
                        </div>

                        <div  class="form-group">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" name="title" id="title" class="form-control"
                                   pattern="^[ㄱ-ㅎ가-힣0-9a-zA-Z\s]+$" maxlength="100" required>
                            <div class="valid-feedback">
                                형식에 알맞습니다.
                            </div>
                            <div class="invalid-feedback">
                                한글, 숫자, 영어대소문자만 가능합니다.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="keyword" class="form-label">키워드</label>
                            <input type="text" name="keyword" id="keyword" class="form-control"
                                   pattern="^[ㄱ-ㅎ가-힣0-9a-zA-Z\s]+$" maxlength="100" required>
                            <div class="valid-feedback">
                                형식에 알맞습니다.
                            </div>
                            <div class="invalid-feedback">
                                한글, 숫자, 영어대소문자만 가능합니다.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="content" class="form-label">내용</label>
                            <input type="text" name="content" id="content" class="form-control"
                                   pattern="^[ㄱ-ㅎ가-힣0-9a-zA-Z\s]+$" maxlength="1000" required>
                            <div class="valid-feedback">
                                형식에 알맞습니다.
                            </div>
                            <div class="invalid-feedback">
                                한글, 숫자, 영어대소문자만 가능합니다.
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #333">

                        <div class="form-group">
                            <label for="file" class="form-label">강의영상</label>
                            <input type="file" id="file" class="form-control" name="file" onchange="addFile(this);" multiple accept="video/mp4"/>
                            <div class="file-list"></div>
                        </div>
                        <hr style="border-top: 1px solid #333">

                        <div  class="form-group">
                            <!-- 문제, 답 5개 씩 만듬 -->
                            <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                <div>
                                    <div class="form-group">
                                        <label th:for="'exam' + ${i}" class="form-label" th:text="'문제 ' + ${i}"></label>
                                        <input type="text" class="exam form-control" th:name="'exam' + ${i}"
                                               th:id="'exam' + ${i}" pattern="^[ㄱ-ㅎ가-힣a-zA-Z]+$" maxlength="100" required>
                                        <div class="valid-feedback">
                                            형식에 알맞습니다.
                                        </div>
                                        <div class="invalid-feedback">
                                            한글, 숫자, 영어대소문자만 가능합니다.
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label th:for="'answer' + ${i}" class="form-label" th:text="'답 ' + ${i}"></label>
                                        <input type="text" class="exam form-control" th:name="'answer' + ${i}"
                                               th:id="'answer' + ${i}" pattern="^[ㄱ-ㅎ가-힣a-zA-Z]+$" maxlength="100" required>
                                        <div class="valid-feedback">
                                            형식에 알맞습니다.
                                        </div>
                                        <div class="invalid-feedback">
                                            한글, 숫자, 영어대소문자만 가능합니다.
                                        </div>
                                    </div>
                                </div>
                                <hr style="border-top: 1px solid #333"><br>
                            </th:block>
                        </div>

                        <div>
                            <input type="button" class="btn btn-primary" th:onclick="return submitForm()" value="등록">
                            <input type="reset" class="btn btn-danger" value="초기화">
                        </div>
                    </form>
                </div>
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let fileNo = 0;
    let filesArr = new Array();
    /*<![CDATA[*/
    let cno = [[${cno}]];
        /*]]>*/

        /* 첨부파일 추가 */
    function addFile(obj){
        let maxFileCnt = 5;   // 첨부파일 최대 개수
        let attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
        let remainFileCnt = maxFileCnt - attFileCnt;    // 추가로 첨부가능한 개수
        let curFileCnt = obj.files.length;  // 현재 선택된 첨부파일 개수

        // 첨부파일 개수 확인
        if (curFileCnt > remainFileCnt) {
            alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
        } else {
            for (const file of obj.files) {
                // 첨부파일 검증
                if (validation(file)) {
                    // 파일 배열에 담기
                    var reader = new FileReader();
                    reader.onload = function () {
                        filesArr.push(file);
                    };
                    reader.readAsDataURL(file);

                    console.log(file);

                    // 목록 추가
                    let htmlData = '';
                    htmlData += '<div id="file' + fileNo + '" class="filebox">';
                    htmlData += '   <p class="name">' + file.name + '</p>';
                    htmlData += '   <a class="delete" onclick="deleteFile(' + fileNo + ');"><i>삭제</i></a>';
                    htmlData += '</div>';
                    $('.file-list').append(htmlData);
                    fileNo++;
                } else {
                    continue;
                }
            }
        }
        // 초기화
        document.querySelector("input[type=file]").value = "";
    }

    /* 첨부파일 검증 */
    function validation(obj){
        const fileTypes = ['video/mp4'];
        if (obj.name.length > 100) {
            alert("파일명이 100자 이상인 파일은 제외되었습니다.");
            return false;
        } else if (obj.size > (100 * 1024 * 1024)) {
            alert("최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.");
            return false;
        } else if (obj.name.lastIndexOf('.') == -1) {
            alert("확장자가 없는 파일은 제외되었습니다.");
            return false;
        } else if (!fileTypes.includes(obj.type)) {
            alert("첨부가 불가능한 파일은 제외되었습니다.");
            return false;
        } else {
            return true;
        }
    }

    /* 첨부파일 삭제 */
    function deleteFile(num) {
        if(!confirm('해당 파일을 삭제하시겠습니까?')) {
            return false;
        }
        document.querySelector("#file" + num).remove();
        filesArr[num].is_delete = true;
    }

    /* 폼 전송 */
    function submitForm() {
        let title = $("#title").val();
        let keyword = $("#keyword").val();
        let content = $("#content").val();
        let exam = $(".exam").length;

        if(title === '') {
            alert('제목을 입력하세요');
            $('#title').focus();
            return false;
        }

        if(keyword === '') {
            alert('키워드를 입력하세요');
            return false;
        }

        if(content === '') {
            alert('설명을 입력하세요')
            return false;
        }

        // 동영상 체크
        let attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
        if(attFileCnt === 0) { // 추가된 파일이 없으면 submit 실패
            alert('동영상 파일이 최소 1개이상 있어야 합니다.')
            return false;
        }

        // 시험 정보 체크
        for(var i=0; i<exam; i++) {
            let value = $(".exam").eq(i).val()
            if(value === '') {
                alert('시험에 입력되지 않은 곳이 존재합니다.')
                return false;
            }
        }

        // 폼데이터 담기
        let form = document.querySelector("form");
        let formData = new FormData(form);
        for (var i = 0; i < filesArr.length; i++) {
            // 삭제되지 않은 파일만 폼데이터에 담기
            if (!filesArr[i].is_delete) {
                formData.append("files", filesArr[i]);
            }
        }

        // ajax로 form 데이터 전송
        $.ajax({
            method: 'POST',
            url: '/admin/lectureInsert',
            data: formData,                 // 필수
            cache: false,
            enctype: 'multipart/form-data',	// 필수
            processData: false,	            // 필수
            contentType: false,	            // 필수
            success: function () {
                console.log('강의 업로드 성공');
                location.href = '/admin/courseDetail?no=' + cno;
            },
            error: function () {
                alert('강의 업로드 실패');
                return false;
            }
        })
    }
</script>

</body>
</html>