<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초등 교재 목록</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }

    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/admin/userList}"> HOME </a> > <span> 초등 교재 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>초등 교재</h1>
                <div class="search_from" style="text-align: center">
                    <select name="select_filter" class="select_filter">
                        <option value="1">교재</option>
                        <option value="2">제목</option>
                        <option value="3">가격</option>
                        <option value="4">출간일</option>
                    </select>
                    <input type="text" name="search_filter" class="search_filter">
                </div>
                <div class="card p-3">
                    <table class="table" id="myTable">
                        <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>교재</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>가격</th>
                            <th>출간일</th>
                            <th>삭제여부</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="Ebook, status : ${EbookList}">
                            <td th:text="${status.count}"></td>
                            <td style="width: 250px;">
                                <th:block th:if="${Ebook != null}">
                                    <img style="max-width: 300px; height: auto" class="pro-img" th:src="@{/upload/} + ${Ebook.fileList[0].savefile}">
                                </th:block>

                            </td>

                            <td>
                                <p><a th:href="@{/Ebook/getEbook(no=${Ebook.fileBoard.no})}">[[${Ebook.fileBoard.title}]]</a></p>
                            </td>

                            <td style="max-width: 200px; overflow: hidden;">
                                <p>[[${Ebook.fileBoard.servecontent}]]</p>
                            </td>

                            <td>
                                <p>[[${Ebook.fileBoard.price}]]원</p>
                            </td>

                            <td>
                                <p>[[${Ebook.fileBoard.publish}]]</p>
                            </td>

                            <td>
                                <form th:action="@{/admin/EbookDelRec(no=${Ebook.fileBoard.no})}" method="post">
                                    <select name="deleteyn" id="deleteyn" class="select-box">
                                        <option value="y" th:selected="${Ebook.fileBoard.deleteyn} eq 'y'">삭제</option>
                                        <option value="n" th:selected="${Ebook.fileBoard.deleteyn} eq 'n'">생성</option>
                                    </select>
                                    <button type="submit" class="btn2 btn-primary" >상태 변경</button>
                                </form>
                            </td>

                            <td>
                                <!--                    <th:block sec:authorize="hasAuthority('ADMIN')">-->
                                <th:block th:if="${Ebook.fileBoard.deleteyn} eq 'n'">
                                    <a th:href="@{/admin/EbookUpdate(no=${Ebook.fileBoard.no})}" class="btn btn-primary">수정</a>
                                </th:block>
<!--                                <a th:href="@{/admin/EbookDelete(no=${Ebook.fileBoard.no})}" class="btn btn-danger">삭제</a>-->
                                <!--                    </th:block>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <!--        <th:block sec:authorize="hasAuthority('ADMIN')">-->
                        <a th:href="@{/admin/Ebook/fileUpload}" class="btn btn-primary">작성</a>
                        <!--        </th:block>-->
                    </div>
                </div>
            </div>
                </div>
            </div>

            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
</body>
</html>