<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌수정</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="content-wrapper">
                <h1>관리자페이지</h1>
                <h2>강좌수정</h2>
                <div class="card p-3">
                    <form th:action="@{/admin/courseUpdate}" method="post" class="text-center mb-3 was-validated">
                        <div class="form-group">
                            <input type="hidden" name="no" id="no" th:value="${dto.no}">
                        </div>

                        <div class="form-group">
                            <label for="id">아이디</label>
                            <input type="text" name="id" id="id" class="form-control" th:value="${dto.id}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="level">학년</label>
                            <select name="level" id="level" class="custom-select">
                                <th:block th:if="${dto.level eq '초등'}">
                                    <option value="초등" selected>초등</option>
                                </th:block>
                                <th:block th:if="${dto.level ne '초등'}">
                                    <option value="초등">초등</option>
                                </th:block>

                                <th:block th:if="${dto.level eq '중학'}">
                                    <option value="중학" selected>중학</option>
                                </th:block>
                                <th:block th:if="${dto.level ne '중학'}">
                                    <option value="중학">중학</option>
                                </th:block>

                                <th:block th:if="${dto.level eq '수능'}">
                                    <option value="수능" selected>수능</option>
                                </th:block>
                                <th:block th:if="${dto.level ne '수능'}">
                                    <option value="수능">수능</option>
                                </th:block>

                                <th:block th:if="${dto.level eq '토익'}">
                                    <option value="토익" selected>토익</option>
                                </th:block>
                                <th:block th:if="${dto.level ne '토익'}">
                                    <option value="토익">토익</option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" name="title" id="title" class="form-control is-invalid" pattern="^[ㄱ-ㅎ가-힣0-9a-zA-Z\s]*$"
                                   maxlength="100" th:value="${dto.title}" required>
                        </div>

                        <div class="form-group">
                            <label for="content">내용</label>
                            <input type="text" name="content" id="content" class="form-control is-invalid" pattern="^[ㄱ-ㅎ가-힣0-9a-zA-Z\s]*$"
                                   maxlength="1000" th:value="${dto.content}" required>
                        </div>

                        <div class="form-group">
                            <label for="peo_max">최대 수강인원</label>
                            <input type="text" name="peo_max" id="peo_max" value="10" class="form-control" maxlength="2" readonly>
                        </div>

                        <div>
                            <input type="submit" class="btn btn-primary" value="등록">
                            <input type="reset" class="btn btn-danger" value="초기화">
                        </div>
                    </form>
                </div>
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>