<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 목록</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/}"> HOME </a> &gt; <span> 강좌관리 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>강좌관리</h1>
                <div class="search_from" style="text-align: center">
                    <select name="select_filter" class="select_filter">
                        <option value="1">제목</option>
                        <option value="2">수강현황</option>
                        <option value="3">작성자</option>
                        <option value="4">등록일</option>
                    </select>
                    <input type="text" name="search_filter" class="search_filter">
                </div>
                <div class="card p-3">
                    <table id="myTable" class="table text-center mb-3">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>수강현황</th>
                            <th>작성자</th>
                            <th>등록일</th>
                            <th>개설여부</th>
                            <th>삭제여부</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="course, status : ${courseList}">
                            <tr>
                                <td th:text="${status.count}"></td>
                                <td th:text="${course.title}"></td>
                                <td th:text="${course.peo} + '/' + ${course.peo_max}"></td>
                                <td th:text="${course.id}"></td>
                                <td th:text="${#temporals.format(course.getCreatedTime(), 'yyyy-MM-dd hh:mm')}"></td>
                                <td>
                                    <form th:action="@{/admin/openCource_admin(no=${course.getNo()})}" method="post">
                                        <select name="copen" id="copen" class="select-box">
                                            <option value="1" th:selected="${course.copen} eq '1'">열기</option>
                                            <option value="0" th:selected="${course.copen} eq '0'">닫기</option>
                                        </select>
                                        <button type="submit" class="btn2 btn-primary" >수정</button>
                                    </form>
                                </td>
                                <td>
                                    <form th:action="@{/admin/couDelRec(no=${course.no})}" method="post">
                                        <select name="deleteYn" id="deleteYn" class="select-box">
                                            <option value="y" th:selected="${course.deleteYn} eq 'y'">삭제</option>
                                            <option value="n" th:selected="${course.deleteYn} eq 'n'">생성</option>
                                        </select>
                                        <button type="submit" class="btn2 btn-primary" >상태 변경</button>
                                    </form>
                                </td>
                                <td>
                                    <th:block th:if="${course.deleteYn} eq 'n'">
                                        <a th:href="@{/admin/courseDetail(no=${course.no})}" class="btn btn-primary">강좌상세</a>
                                        <a th:href="@{/admin/courseUpdate(no=${course.no})}" class="btn btn-success">강좌수정</a>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <div>
                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/admin/courseInsert}" class="btn btn-primary">강좌 등록</a>
                        </th:block>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>