<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 상세보기</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/admin/userList}"> HOME </a> > <a th:href="@{/admin/courseList}"> 강좌 </a> > <span> 상세보기 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>강좌 상세보기</h1>
                <hr style="border-top: 1px solid #333">
                <br>

                <table style="width: 50%" class="table table-bordered mx-3">
                    <colgroup>
                        <col style="width:10%;">
                        <col style="width:30%;">
                    </colgroup >
                    <tbody style="border: 1px solid var(--back);">
                    <tr>
                        <th class="text-center">제목</th>
                        <td th:text="${course.title}"></td>
                    </tr>
                    <tr>
                        <th class="text-center">작성자</th>
                        <td th:text="${course.id}"></td>
                    </tr>
                    <tr>
                        <th class="text-center">현재수강인원</th>
                        <td th:text="${course.peo}"></td>
                    </tr>
                    <tr>
                        <th class="text-center">최대수강인원</th>
                        <td th:text="${course.peo_max}"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <hr style="border-top: 1px solid #333">

                <div class="card p-3">
                    <table id="myTable" class="table text-center mb-3">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>키워드</th>
                            <th>작성자</th>
                            <th>등록일</th>
                            <th>삭제여부</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="lecture, status : ${lectureList}">
                            <tr>
                                <td th:text="${status.count}"></td>
                                <td style="text-align: center">
                                    <p class="overDot" style="width: 400px;" th:text="${lecture.title}"></p>
                                </td>
                                <td style="text-align: center">
                                    <p class="overDot" style="width: 200px;" th:text="${lecture.keyword}"></p>
                                </td>
                                <td th:text="${lecture.id}"></td>
                                <td th:text="${#temporals.format(lecture.getCreatedTime(), 'yyyy-MM-dd hh:mm')}"></td>
                                <td>
                                    <form th:action="@{/admin/lecDelRec(cno=${course.no}, no=${lecture.no})}" method="post">
                                        <select name="deleteYn" id="deleteYn" class="select-box">
                                            <option value="y" th:selected="${lecture.deleteYn} eq 'y'">삭제</option>
                                            <option value="n" th:selected="${lecture.deleteYn} eq 'n'">생성</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary" >상태 변경</button>
                                    </form>
                                </td>
                                <td><a th:href="@{/admin/lectureUpdate(cno=${course.no}, lno=${lecture.no})}" class="btn btn-primary">강의수정</a></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <div>
                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/admin/lectureInsert(cno=${course.no})}" class="btn btn-primary" style="float: right">강의등록</a>
                        </th:block>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>