<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="include/head :: head" ></th:block>
    <title>FAQ</title>
</head>
<body>
    <th:block th:replace="include/header :: header" ></th:block>

    <section id="faq" class="faq section-bg">
        <div class="container">
            <div class="section-title">
                <h2 data-aos="fade-up">F.A.Q</h2>
                <p data-aos="fade-up">FAQ 입니다 궁금한 것이 있으면 물어봐주세요.</p>
            </div>
            <div class="faq-list">
                <ul>
                    <th:block th:each="faqList, faq: ${faqList}">
                        <li data-aos="fade-up" >
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" th:data-bs-target="'#faq-list-'+ ${faq.count}">[[${faqList.title }]]<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div th:id="'faq-list-' + ${faq.count}" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    [[${faqList.content }]]
                                </p>
                            </div>
                        </li>
                    </th:block>
                    <th:block th:if="${faqList.size() <= 0}">
                        <li data-aos="fade-up" >
                            <p> 목록이 없습니다. </p>
                        </li>
                    </th:block>
                </ul>
            </div>

            <a th:href="@{/faqadd}" class="btn1 right1">글쓰기</a>
        </div>
    </section>
    <th:block th:replace="/include/footer :: footer"></th:block>
</body>
</html>
