<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notice 글쓰기</title>
    <th:block th:replace="include/head :: head" ></th:block>
</head>
<body>
    <th:block th:replace="include/header :: header"></th:block>
    <section class="input-form">
        <div class="container-form">
          <h2>글쓰기</h2>
            <form name="frm1" id="frm1" th:action="@{/noticeadd}" method="post" >
                <div class="form-outline">
                    <label class="form-label" for="title">제목</label>
                    <input type="text" name="title" id="title" placeholder="제목" class="form-control" maxlength="50" autofocus  />
                    <input type="hidden" name="author" id="author" th:value="${prin}"/>
                </div>
                <div class="form-outline">
                    <label class="form-label" for="content">내용</label>
                    <textarea type="text" name="content" id="content" placeholder="내용" class="form-control" cols="100" rows="10" maxlength="500"></textarea>
                    <div class="textCount"><span>0</span>/500</div>
                </div>
                <br>
                <br>
                <br>
                <button type="submit" class="btn1 right1" >글쓰기</button>
            </form>
        </div>
    </section>
</body>
</html>
<script>
    $('#content').keyup(function (e) {
        var content = $(this).val();

        if (content.length == 0 || content == '') {
            $('.textCount span').text('0');
        } else {
            $('.textCount span').text(content.length);
        }

        if (content.length > 500) {
            $(this).val($(this).val().substring(0, 500));
            alert('글자수는 500자까지 입력 가능합니다.');
        }
    });

    $('#title').keyup(function (e) {
        var content = $(this).val();

        if (content.length > 50) {
            alert('글자수는 50자까지 입력 가능합니다.');
        }
    });
</script>