<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 글</title>
    <th:block th:replace="include/head :: head" ></th:block>

</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{notice}"> 공지사항 </a> > <span> 글쓰기 </span></p>
</div>
<section id="contact" class="contact">
    <div class="container">
        <h2>글 정보</h2>
        <table class="List-table">
            <tbody>
                <tr>
                    <th>제목</th>
                    <td th:text="${notice.title}"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td th:text="${notice.author}"></td>
                </tr>
                <tr>
                    <th>작성날짜</th>
                    <td th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd hh:mm')}"></td>
                </tr>
                <tr>
                    <th colspan="4" >내용</th>
                </tr>
                <tr>
                    <td colspan="4" th:text="${notice.content}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/notice}" class="btn1 right1">목록으로</a>
        <th:block sec:if="${principal == notice.author }">
            <a type="button" onclick="eventremove()" class="btn1 right1"> 삭제하기 </a>
            <a th:href="@{/noticeEdit(no=${notice.no})}" class="btn1 right1">수정하기</a>
        </th:block>

    </div>
</section>
<th:block th:replace="include/footer :: footer" ></th:block>
<script>
    function eventremove(){
        if(confirm("삭제하시겠습니까?")){
            location.href="/noticeDelete?no=[[${notice.no }]]"
        }
    }
</script>
</body>
</html>