<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중학 교재 추가</title>
    <th:block th:replace="include/head :: head" ></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/product-filelist.css}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div style="min-height: 100vh">
    <div class="section properties">
        <div class="container">
            <div class="container" style="width:1280px;margin:20px auto;">
                <form th:action="@{/Mbook/fileUpload}" method="post" style="width:600px;margin:15px auto;" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="id">작성자</label>
                        <input type="text" class="form-control bg-secondary text-white" name="id" id="id"
                               th:value="관리자"
                               minlength="4" maxlength="16"
                               pattern="^[a-z0-9]*$" readonly/>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="title">교재 제목</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="교재 제목" minlength="1"
                               maxlength="30" required/>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="content">교재 설명</label>
                        <input type="text" class="form-control" name="content" id="content" placeholder="교재 설명" minlength="1"
                               maxlength="30" required/>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="servecontent">교재 요약 설명</label>
                        <input type="text" class="form-control" name="servecontent" id="servecontent" placeholder="교재 요약" minlength="1"
                               maxlength="30" required/>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="price">가격</label>
                        <input type="number" class="form-control" name="price" id="price" placeholder="가격"
                               pattern="\d*" maxlength="7"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 7);" required/>
                    </div>
                    <br><br>

                    <div class="form-group">
                        <label for="publish">출간일</label>
                        <input type="text" class="form-control" name="publish" id="publish" placeholder="출간일" required/>
                    </div>
                    <br><br>


                    <div class="form-group">
                        <label for="files" id="file-js-example1">
                            <span style="padding:5px;margin:5px">파일 : </span>
                            <input type="file" class="form-control" name="files" id="files" onchange="addFile(this);"
                                   accept="image/png, image/jpeg" multiple required>
                            <div class="file-list"></div>
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                            </span>
                        </label>
                    </div>
                    <br><br>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="작성">
                        <input type="reset" class="btn btn-danger" value="초기화">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
<th:block th:replace="include/footer :: footer" ></th:block>
        <!-- Datepicker Initialization -->
        <script>
            $(function() {
                // Datepicker 초기화
                $("#publish").datepicker({
                    dateFormat: "yy-mm-dd", // 날짜 형식 지정
                    changeMonth: true,       // 월 변경 가능
                    changeYear: true,        // 년 변경 가능
                });
            });
        </script>
<script th:src="@{/js/file.js}"></script>
</body>
</html>