<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 강좌 목록</title>
</head>
<body>
<h1>내 강좌 목록</h1>
<ul>
    <th:block th:each="myCourse, status : ${myCourseList}">
        <li>
            <span th:text="${myCourse.getCourse().title}"></span>
            <a th:href="@{/mycourse/detail(no=${myCourse.getCourse().no})}">강좌보기</a>
        </li>
    </th:block>
</ul>
</body>
</html>