<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 강좌 목록</title>
    <th:block th:replace="include/head :: head" ></th:block>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<section class="table-list">
    <div class="container">
        <h2 class="con-title">내 강좌 목록</h2>
        <div class="search_from" style="text-align: center">
            <select name="select_filter" class="select_filter">
                <option value="1">제목</option>
                <option value="2">학년</option>
            </select>
            <input type="text" name="search_filter" class="search_filter">
        </div>
        <table class="List-table" id="myTable">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>학년</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="myCourse, status : ${myCourseList}">
                <tr>
                    <td th:text="${status.count}"></td>
                    <td style="max-width: 200px; overflow: hidden;" th:text="${myCourse.getCourse().title}"></td>
                    <td th:text="${myCourse.getCourse().level}"></td>
                    <td><a th:href="@{/mycourse/detail(no=${myCourse.getCourse().no})}">강좌보기</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</section>
<th:block th:replace="include/footer :: footer" ></th:block>
</body>
</html>