<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aroma Shop - Category</title>
    <th:block th:replace="include/head :: head" ></th:block>

    <link rel="stylesheet" th:href="@{/css/productlist.css}">
</head>
<body>
<!--================ Start Header Menu Area =================-->
<th:block th:replace="include/header :: header" ></th:block>

<!--================ End Header Menu Area =================-->
<h2>gggggggggggg</h2>

<!--&lt;!&ndash; ================ category section start ================= &ndash;&gt;-->
<!--<div style="min-height: 100vh">-->
<!--    <div class="container con-tb">-->
<!--        <div class="search_from">-->
<!--            <select name="select_filter" class="select_filter">-->
<!--                <option value="1">제목</option>-->
<!--                <option value="2">요약내용</option>-->
<!--                <option value="3">가격</option>-->
<!--                <option value="4">출간일</option>-->
<!--            </select>-->
<!--            <input type="text" name="search_filter" class="search_filter">-->
<!--        </div>-->
<!--        <table class="table" id="myTable">-->
<!--            <thead class="thead-light">-->
<!--            <tr>-->
<!--                <th></th>-->
<!--                <th>제목</th>-->
<!--                <th>요약내용</th>-->
<!--                <th>가격</th>-->
<!--                <th>출간일</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="Ebook, status : ${EbookList}">-->
<!--                <td style="width: 250px;">-->
<!--                    <img class="pro-img" th:src="${'/team16/Ebook/image?savefile='+fileList.get(status.index).savefile+'&originfile='+fileList.get(status.index).originfile}">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <p><a th:href="@{/Ebook/getEbook(no=${Ebook.no})}">[[${Ebook.title}]]</a></p>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <p>[[${Ebook.servecontent}]]</p>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <p>[[${Ebook.price}]]</p>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <p>[[${Ebook.publish}]]</p>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">-->
<!--                        <a th:href="@{/Ebook/EbookUpdate(no=${Ebook.no})}" class="btn btn-primary">수정</a>-->
<!--                        <a th:href="@{/Ebook/EbookDelete(no=${Ebook.no})}" class="btn btn-danger">삭제</a>-->
<!--                    </th:block>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">-->
<!--            <a th:href="@{/Ebook/fileUpload}" class="btn btn-primary">판매하기</a>-->
<!--        </th:block>-->
<!--    </div>-->
<!--</div>-->

<!--================ Start footer Area  =================-->
<th:block th:replace="include/footer :: footer" ></th:block>

<!--================ End footer Area  =================-->
<script th:src="@{/js/product-datatables.js}"></script>
</body>
</html>