<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초등 교재</title>
    <th:block th:replace="include/head :: head" ></th:block>

</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{/Ebook/EbookList}"> 초등 교재 </a></p>
</div>
<section class="table-list">
    <div class="container">
        <h2> 초등 교재 </h2>
        <div class="search_from">
            <select name="select_filter" class="select_filter">
                <option value="1">제목</option>
                <option value="2">내용</option>
                <option value="3">가격</option>
                <option value="4">출간일</option>
            </select>
            <input type="text" name="search_filter" class="search_filter">
        </div>
        <table class="List-table" id="myTable">
            <thead class="thead-light">
            <tr>
                <th>교재</th>
                <th>제목</th>
                <th>내용</th>
                <th>가격</th>
                <th>출간일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Ebook, status : ${EbookList}">
                <td style="width: 250px;">
                    <th:block th:if="${Ebook != null}">
                        <img style="max-width: 300px; height: auto" class="pro-img" th:src="@{/upload/} + ${Ebook.fileList[0].savefile}">
                    </th:block>

                </td>

                <td>
                    <p><a th:href="@{/Ebook/getEbook(no=${Ebook.fileBoard.no})}">[[${Ebook.fileBoard.title}]]</a></p>
                </td>

                <td>
                    <p>[[${Ebook.fileBoard.servecontent}]]</p>
                </td>

                <td>
                    <p>[[${Ebook.fileBoard.price}]]원</p>
                </td>

                <td>
                    <p>[[${Ebook.fileBoard.publish}]]</p>
                </td>

                <td>
<!--                    <th:block sec:authorize="hasAuthority('ADMIN')">-->
                        <a th:href="@{/Ebook/EbookUpdate(no=${Ebook.fileBoard.no})}" class="btn btn-primary">수정</a>
                        <a th:href="@{/Ebook/EbookDelete(no=${Ebook.fileBoard.no})}" class="btn btn-danger">삭제</a>
<!--                    </th:block>-->
                </td>
            </tr>
            </tbody>
        </table>
<!--        <th:block sec:authorize="hasAuthority('ADMIN')">-->
                <a th:href="@{/Ebook/fileUpload}" class="btn btn-primary">작성</a>
<!--        </th:block>-->
    </div>
</section>
<th:block th:replace="include/footer :: footer" ></th:block>
</body>
</html>