<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>초등 교재 상세보기</title>
    <th:block th:replace="include/head :: head" ></th:block>

    <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>


</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{/Ebook/EbookList}"> 초등 교재 </a> > <span> 상세보기 </span></p>
</div>

<div class="product_image_area">
    <div class="container">
        <h2> 초등 교재 </h2>
        <div class="row s_product_inner">
            <div class="col-lg-6 swiper mySwiper">
                <div class="owl-carousel owl-theme s_Product_carousel swiper-wrapper">
                    <div class="swiper-slide" th:each="file, status : ${fileList}">
                        <img class="title-img"
                             th:src="@{/upload/} + ${file.savefile}">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 class="mt-2">[[${Ebook.fileBoard.title}]]</h3>
                    <h5>[[${Ebook.fileBoard.price}]]원</h5>
                    <ul>
                        <li>
                            <th:block sec:authorize="hasAuthority('ADMIN')">
                                <div class="btn-team">
                                    <a th:href="@{/Ebook/EbookUpdate(no=${Ebook.fileBoard.no})}" class="btn1 right1">수정</a>
                                    <a th:href="@{/Ebook/EbookDelete(no=${Ebook.fileBoard.no})}" class="btn2 right1">삭제</a>
                                </div>
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="false"> 교재 소개 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false"> 상세 내용 </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h5>교재 제목</h5>
                            </td>
                            <td>
                                <p>[[${Ebook.fileBoard.title}]]</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>요약 내용</h5>
                            </td>
                            <td>
                                <p>[[${Ebook.fileBoard.servecontent}]]</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>가격</h5>
                            </td>
                            <td>
                                <p>[[${Ebook.fileBoard.price}]]</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5>출판일</h5>
                            </td>
                            <td>
                                <p>[[${Ebook.fileBoard.publish}]]</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <h5>교재 내용</h5>
                        </td>
                        <td>
                            <p>[[${Ebook.fileBoard.content}]]</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="include/footer :: footer" ></th:block>
</body>
</html>