<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

</head>

<th:block th:fragment="chart">
    <script th:inline="javascript">
        var createLabel = /*[[${createLabel}]]*/ [];
        var createData = /*[[${createData}]]*/ [];

        (function($) {
            'use strict';
            $(function() {
                if ($("#order-chart").length) {
                    var areaData = {
                        labels: createLabel,
                        datasets: [
                            {
                                data: createData,
                                borderColor: [
                                    '#4747A1'
                                ],
                                borderWidth: 2,
                                fill: false,
                                label: "신규 회원"
                            },
                            {
                                data: [7, 6, 5, 4, 3, 2, 1],
                                borderColor: [
                                    '#F09397'
                                ],
                                borderWidth: 2,
                                fill: false,
                                label: "탈퇴 회원"
                            }
                        ]
                    };

                    var areaOptions = {
                        responsive: true,
                        maintainAspectRatio: true,
                        plugins: {
                            filler: {
                                propagate: false
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                ticks: {
                                    display: true,
                                    padding: 10,
                                    fontColor:"#6C7383"
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                    color: 'transparent',
                                    zeroLineColor: '#eeeeee'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                ticks: {
                                    display: true,
                                    autoSkip: false,
                                    maxRotation: 0,
                                    stepSize: 5,
                                    min: 0,
                                    // max: 100,
                                    padding: 18,
                                    fontColor:"#6C7383"
                                },
                                gridLines: {
                                    display: true,
                                    color:"#f2f2f2",
                                    drawBorder: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: true
                        },
                        elements: {
                            line: {
                                tension: .35
                            },
                            point: {
                                radius: 3
                            }
                        }
                    }

                    var revenueChartCanvas = $("#order-chart").get(0).getContext("2d");

                    var revenueChart = new Chart(revenueChartCanvas, {
                        type: 'line',
                        data: areaData,
                        options: areaOptions
                    });
                }

                if ($("#sales-chart").length) {
                    var SalesChartCanvas = $("#sales-chart").get(0).getContext("2d");
                    var SalesChart = new Chart(SalesChartCanvas, {
                        type: 'bar',
                        data: {
                            labels: ["Jan", "Feb", "Mar", "Apr", "May"],
                            datasets: [{
                                label: 'Offline Sales',
                                data: [480, 230, 470, 210, 330],
                                backgroundColor: '#98BDFF'
                            },
                                {
                                    label: 'Online Sales',
                                    data: [400, 340, 550, 480, 170],
                                    backgroundColor: '#4B49AC'
                                }
                            ]
                        },
                        options: {
                            cornerRadius: 5,
                            responsive: true,
                            maintainAspectRatio: true,
                            layout: {
                                padding: {
                                    left: 0,
                                    right: 0,
                                    top: 20,
                                    bottom: 0
                                }
                            },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    gridLines: {
                                        display: true,
                                        drawBorder: false,
                                        color: "#F2F2F2"
                                    },
                                    ticks: {
                                        display: true,
                                        min: 0,
                                        max: 560,
                                        callback: function(value, index, values) {
                                            return  value + '$' ;
                                        },
                                        autoSkip: true,
                                        maxTicksLimit: 10,
                                        fontColor:"#6C7383"
                                    }
                                }],
                                xAxes: [{
                                    stacked: false,
                                    ticks: {
                                        beginAtZero: true,
                                        fontColor: "#6C7383"
                                    },
                                    gridLines: {
                                        color: "rgba(0, 0, 0, 0)",
                                        display: false
                                    },
                                    barPercentage: 1
                                }]
                            },
                            legend: {
                                display: false
                            },
                            elements: {
                                point: {
                                    radius: 0
                                }
                            }
                        },
                    });
                    document.getElementById('sales-legend').innerHTML = SalesChart.generateLegend();
                }

            });
        })(jQuery);
    </script>
</th:block>
</html>