<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block class="footer" th:fragment="footer">

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>WordMaster</h3>
                        <p>
                            서울특별시 금천구 가산디지털1로 16 <br>
                            11층 18~20층 (가산동) <br><br>
                            <strong>대표번호 :</strong> 02-3282-2944 <br>
                            <strong>Email:</strong> admin@wordmaster.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">회사소개</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">서비스</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">이용약관</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">개인정보 처리방침</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">초등 교재</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">중등 교재</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">수능 교재</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">토익 교재</a></li>
                            <li> <a href="#">&#8594; 강의 보러가기</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>WordMaster와 함께 해요!</h4>
                        <p>영단어 교육 및 향상을 위한 서비스를 제공하는 회사입니다.</p>
                        <p>함께 공부하며 성장하는 여정에 참여해보시겠어요?</p>
                        <p>우리와 함께 지식을 공유하고 성장의 기회를 만들어 나가요!</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-lg-flex py-4">

            <div class="me-lg-auto text-center text-lg-start">
                <div class="copyright" style="color:white;">
                    &copy; Copyright <strong><span>Flexor</span></strong>. All Rights Reserved
                </div>
                <div class="credits" style="color:white;">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/ -->
                    Designed by <a href="https://bootstrapmade.com/" style="color:white;">BootstrapMade</a>
                </div>
            </div>
        </div>

        <!-- datatables -->
        <script th:src="@{/js/datatables.js}"></script>
    </footer>
    <!-- End Footer -->

</th:block>
</body>
