<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="sidebar" th:fragment="sidebar(menu)">
    <!-- User Widget -->
    <div class="widget user-dashboard-profile">
        <!-- User Image -->
        <div class="profile-thumb">
            <img th:src="@{/images/empty_profile.png}" alt="프로필 사진" class="rounded-circle">
        </div>
        <!-- User Name -->
        <!--<td th:text="${#dates.format(board.createAt, 'yyyy-MM-dd')}"></td>-->
        <h5 class="mt-2 text-center" th:text="${member.name}">회원 이름</h5>
        <p th:text="|${#dates.format(member.createAt, 'yyyy-MM-dd')} 가입|"></p>
        <a th:href="@{/member/myPage}" class="btn btn-main-sm">내 정보 보기</a>
    </div>
    <!-- Dashboard Links -->
    <div class="widget user-dashboard-menu">
        <ul>
            <li>
                <a th:href="@{/myPage}">
                    <i class="fa fa-user"></i> 회원정보
                </a>
            </li>
            <li>
                <a th:href="@{/mycourse/list}">
                    <i class="fa fa-user"></i> 나의 강의실
                </a>
            </li>
        </ul>
    </div>

    <script th:inline="javascript">
        function eventRemove(){
            console.log("eventRemove activate");
            if(confirm("탈퇴하시겠습니까?")){
                location.href="/member/remove?id="+[[${member.id }]];
            }
        }

        $(document).ready(function(){
            $.ajax({
                url: "/chat/unreadAll",
                data: {receiver: /*[[${member.id}]]*/ 'default'},
                type: "get",
                success: function(response){
                    if(response>0){
                        let newspan = `<span>${response}</span>`;
                        $("#unreadCount").append(newspan);
                    }
                }
            });
        })
    </script>

</div>
</html>