<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비디오 플레이어</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
    <style>
        /* 출처
            https://www.baragi.net/bbs/board.php?bo_table=dev&wr_id=8718
        */
        .video-js .vjs-time-control{display:block;}
        .video-js .vjs-remaining-time{display: none;}
    </style>
</head>
<body>
<div>

    <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="360"
            data-setup="{}"
    >
<!--        <source th:src="@{/upload/video/test.mp4}" type="video/mp4" />-->
        <source th:src="@{/shop/} + ${savefile}" type="video/mp4" />
<!--        <source th:src="${'/common/file?savefile='+savefile}" type="video/mp4" />-->
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
            >
        </p>
    </video>

    <div>
        <p id="video-duration"></p>
    </div>
</div>
<div>
    <span th:text="${page + 1} + ' 번 영상'"></span>
</div>
<div>
    <span id="war" style="color: red"></span>
</div>
<div>
    <!-- 이전 영상으로 넘어가기 -->
    <th:block th:if="${page > 0}">
        <form th:action="@{/video/player}" method="post" onsubmit="return videoBack()">
            <input type="hidden" name="cno" id="cno1" th:value="${cno}">
            <input type="hidden" name="lno" id="lno1" th:value="${lno}">
            <input type="hidden" name="page" id="page1" th:value="${page - 1}">
            <input type="submit" value="이전 영상">
        </form>
    </th:block>

    <!-- 다음 영상으로 넘어가기 -->
    <th:block th:if="${page < total_size - 1 and user_page <= page}">
        <form th:action="@{/video/player}" method="post" onsubmit="return videoNext()">
            <input type="hidden" name="cno" id="cno2" th:value="${cno}">
            <input type="hidden" name="lno" id="lno2" th:value="${lno}">
            <input type="hidden" name="page" id="page2" th:value="${page + 1}">
            <input type="submit" value="다음 영상">
        </form>
    </th:block>

    <!-- 다음 영상으로 넘어가기 -->
    <th:block th:if="${page < total_size - 1 and user_page > page}">
        <form th:action="@{/video/player}" method="post">
            <input type="hidden" name="cno" id="cno4" th:value="${cno}">
            <input type="hidden" name="lno" id="lno4" th:value="${lno}">
            <input type="hidden" name="page" id="page4" th:value="${page + 1}">
            <input type="submit" value="다음 영상">
        </form>
    </th:block>

    <!-- 수강 완료 해당 영상을 처음듣는 경우 -->
    <th:block th:if="${page == total_size - 1 and user_page <= page}">
        <form th:action="@{/video/complete}" method="post" onsubmit="return videoNext()">
            <input type="hidden" name="cno" id="cno5" th:value="${cno}">
            <input type="hidden" name="lno" id="lno5" th:value="${lno}">
            <input type="hidden" name="page" id="page5" th:value="${page+1}">
            <input type="submit" value="수강 완료">
        </form>
    </th:block>

    <!-- 수강 완료 해당 영상을 이미 수강한 경우 -->
    <th:block th:if="${page == total_size - 1 and user_page > page}">
        <form th:action="@{/video/complete}" method="post">
            <input type="hidden" name="cno" id="cno6" th:value="${cno}">
            <input type="hidden" name="lno" id="lno6" th:value="${lno}">
            <input type="hidden" name="page" id="page6" th:value="${page + 1}">
            <input type="submit" value="수강 완료">
        </form>
    </th:block>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let video = document.getElementById('my-video');
    let videoDurationDisplay = document.getElementById('video-duration');
    let time = [[${time}]];
    let user_page = [[${user_page}]];
    let page = [[${page}]];
    let sec = [[${sec}]];
    let cno = [[${cno}]];
    let lno = [[${lno}]];

    console.log('user_page : ' + user_page);
    console.log('page : ' + page);
    console.log('sec : ' + sec);
    console.log('cno : ' + cno);
    console.log('lno : ' + lno);

    // 총 시간
    let totalSeconds = 0;

    // // 비디오가 로드 되었을 때
    video.addEventListener('loadedmetadata', function() {
        // 시간 구하기
        totalSeconds = Math.floor(video.duration); // 비디오의 총 시간 구하기, 올림 연산
        const hours = Math.floor(totalSeconds / 3600); // 시간
        const minutes = Math.floor((totalSeconds % 3600) / 60); // 분
        const seconds = Math.floor(totalSeconds % 60); // 초
        videoDurationDisplay.innerHTML = `총 길이: ${hours}시간 ${minutes}분 ${seconds}초<br>
                                                ${totalSeconds}초`;
    });

    // db에 저장된 시간이 있으면
    // 특정 시간부터 재생
    if(time > 0)  {
        const specificTimeInSeconds = time;
        video.currentTime = specificTimeInSeconds; // 특정 시간으로 비디오 이동
        video.play();
    }

    // 이전으로 넘어가기
    function videoBack() {
        video.pause(); // 일시정지
        if(confirm('뒤로 넘어가시겠습니까?')) {
            return true;
        }
        return true;
    }

    // 다음으로 넘어가기
    function videoNext() {
        if(video.currentTime < totalSeconds) {
            video.pause(); // 일시정지
            alert('아직 동영상을 다 보지 않았습니다.')
            return false;
        } else {
            alert('동영상 재생을 완료했습니다.')
            return true;
        }
    }

    $(document).ready(() => {
        // 만약 사용자가 본 페이지가 현재 페이지보다 크거나 같은 경우
        // 넘어가기 방지
        if (user_page <= page) {
            var styleTag = document.createElement('style');
            styleTag.innerHTML = '.vjs-progress-control { pointer-events: none; }';
            document.head.appendChild(styleTag);
        }

        if (page === user_page && sec > 0) {
            alert("이전 시청 기록이 있습니다. 이전 시청 지점부터 재생됩니다.");
            video.currentTime = sec;
        }
    });

    // 창이 닫히거나 새로고침을 하는 경우
    window.addEventListener('beforeunload', (event) => {
        // 명세에 따라 preventDefault는 호출해야하며, 기본 동작을 방지합니다.
        event.preventDefault();
        video.pause(); // 일시정지

        // 현재 페이지가 유저의 페이지보다 크거나 같은경우
        if(user_page <= page) {
            sec = video.currentTime; // 현재 비디오를 본 시간 저장
            let data = new FormData;
            data.append("sec", Math.floor(sec));
            data.append("page", page);
            data.append("cno", cno);
            data.append("lno", lno);
            navigator.sendBeacon("/video/closeVideo", data);
        }
    });

    /*]]>*/
</script>
<script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
</body>
</html>