<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 상세보기</title>
    <th:block th:replace="include/head :: head" ></th:block>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{/course/list}"> 강좌 </a> > <span> 상세보기 </span></p>
</div>
<section class="table-list">
    <div class="container">
        <h2 class="con-title">강좌</h2>
        <table class="List-table">
            <tbody>
            <tr>
                <th>강좌 이름</th>
                <td>[[${course.title}]]</td>
                <td style="border-bottom: none;"></td>
                <td style="border-bottom: none;"></td>
            </tr>
            <tr>
                <th>현재수강인원</th>
                <td>[[${course.peo}]]</td>
                <td style="border-bottom: none;"></td>
                <td style="border-bottom: none;"></td>
            </tr>
            <tr>
                <th>최대수강인원</th>
                <td>[[${course.peo_max}]]</td>
                <td style="border-bottom: none;"></td>
                <td style="border-bottom: none;"></td>
            </tr>
            </tbody>
        </table>

        <h3 class="con-title" style="margin-top: 5rem">강의목록</h3>
        <div class="search_from" style="text-align: center">
            <select name="select_filter" class="select_filter">
                <option value="1">제목</option>
            </select>
            <input type="text" name="search_filter" class="search_filter">
        </div>
        <table id="myTable" class="List-table">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="lecture, status : ${lectureList}">
                <tr>
                    <td th:text="${status.count}"></td>
                    <td th:text="${lecture.title}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</section>
<th:block th:replace="include/footer :: footer" ></th:block>
</body>
</html>