<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌목록</title>
    <th:block th:replace="include/head :: head" ></th:block>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<section class="table-list">
    <div class="container">
        <h2>강좌목록</h2>
        <table id="myTable" class="List-table">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>수강현황</th>
                <th>작성자</th>
                <th>등록일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="course, status : ${courseList}">
                <tr>
                    <td th:text="${status.count}"></td>
                    <td><a th:href="@{/course/detail(no=${course.no})}" th:text="${course.title}"></a></td>
                    <td th:text="${course.title} + ' ' + ${course.peo} + '/' + ${course.peo_max}"></td>
                    <td th:text="${course.id}"></td>
                    <td th:text="${#temporals.format(course.getCreatedTime(), 'yyyy-MM-dd hh:mm')}"></td>
                    <td>
                        <th:block sec:authorize="isAuthenticated()">
                            <th:block th:if="${checkList.get(status.index)} eq 'n'">
                                <a th:href="@{/course/apply(cno=${course.no})}">수강신청</a>
                            </th:block>
                        </th:block>
                    </td>
                </tr>
            </th:block>
            <th:block th:if="${courseList.size() <= 0}">
                <tr>
                    <td colspan="4">목록이 없습니다.</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</section>
<th:block th:replace="include/footer :: footer" ></th:block>
</body>
</html>