<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수능 교재 목록</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }

    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/}"> HOME </a> &gt; <span> 교재 </span> &gt; <span> 수능 교재 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>수능 교재</h1>
                <div class="card p-3">
                    <table class="table" id="myTable">
                        <thead class="thead-light">
                        <tr>
                            <th>교재</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>가격</th>
                            <th>출간일</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="Hbook, status : ${HbookList}">
                            <td style="width: 250px;">
                                <th:block th:if="${Hbook != null}">
                                    <img style="max-width: 300px; height: auto" class="pro-img" th:src="@{/upload/} + ${Hbook.fileList[0].savefile}">
                                </th:block>

                            </td>

                            <td>
                                <p><a th:href="@{/Hbook/getHbook(no=${Hbook.fileBoard.no})}">[[${Hbook.fileBoard.title}]]</a></p>
                            </td>

                            <td>
                                <p>[[${Hbook.fileBoard.servecontent}]]</p>
                            </td>

                            <td>
                                <p>[[${Hbook.fileBoard.price}]]원</p>
                            </td>

                            <td>
                                <p>[[${Hbook.fileBoard.publish}]]</p>
                            </td>

                            <td>
                                <!--                    <th:block sec:authorize="hasAuthority('ADMIN')">-->
                                <a th:href="@{/admin/HbookUpdate(no=${Hbook.fileBoard.no})}" class="btn btn-primary">수정</a>
                                <a th:href="@{/admin/HbookDelete(no=${Hbook.fileBoard.no})}" class="btn btn-danger">삭제</a>
                                <!--                    </th:block>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--        <th:block sec:authorize="hasAuthority('ADMIN')">-->
                    <a th:href="@{/admin/Hbook/fileUpload}" class="btn btn-primary">작성</a>
                    <!--        </th:block>-->
                </div>
            </div>
                </div>
            </div>

            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
</body>
</html>