<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="include/head :: head" ></th:block>
    <title>휴면 해제</title>
    <style>
        label {
            transform: translateY(-50px);
        }
    </style>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{/active}"> 휴면해제 </a></p>
</div>
<section id="contact" class="contact">
    <div class="container">
        <div class="container-login">
        <h1>휴면 해제</h1>
            <form th:action="@{/active}" method="post">
                <div class="form-login">
                    <input type="text" class="input" name="id" id="id" required />
                    <label><span>아이디</span></label>
                </div>
                <div class="form-login">
                    <input type="password" class="input" name="pw" id="pw" required />
                    <label><span>비밀번호</span></label>
                </div>
                <div class="form-login">
                    <input type="email" class="input" name="email" id="email" required />
                    <label><span>이메일</span></label>
                </div>
                    <button type="submit" class="login-btn">휴면 해제</button>
                <div th:if="${param.error}">
                    <p style="color:red">아이디 또는 비밀번호가 올바르지 않거나 <br> 가입이 되지 않았습니다.</p>
                </div>
            </form>
        </div>
    </div>
</section>

<th:block th:replace="/include/footer :: footer"></th:block>

</body>
</html>