<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <th:block th:replace="include/head :: head" ></th:block>

</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{/myPage}"> 회원정보 </a></p>
</div>
<section id="contact" class="contact">
    <div class="container">
        <h2>회원정보</h2>
        <div class="List-table">
            <table>
                <tbody>
                    <tr>
                        <th>아이디</th>
                        <td th:text="${user.id}"></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td th:text="${user.name}"></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td th:text="${user.tel}"></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td th:text="${user.addr1} + ${user.addr2} + ${user.postcode}"></td>
                    </tr>
                    <tr>
                        <th>권한</th>
                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <td>관리자</td>
                        </th:block>
                        <th:block sec:authorize="hasAuthority('USER')">
                            <td>유저</td>
                        </th:block>
                        <th:block sec:authorize="hasAuthority('TEACHER')">
                            <td>선생님</td>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="center1">
            <button type="button" onclick="eventremove()" class="btn1 right2"> 탈퇴하기 </button>
            <a th:href="@{/myPageEdit}" class="btn1 right2">수정하기</a>
        </div>
    </div>
</section>
<th:block th:replace="include/footer :: footer" ></th:block>

</body>
</html>
<script>
    function eventremove(){
        if(confirm("정말 탈퇴하시겠습니까?")){
            location.href="/remove?id=[[${user.id }]]"
        }
    }
</script>