<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>토익 교재 수정하기</title>
    <th:block th:replace="/include/adminhead :: head"></th:block>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/admin/userList}"> HOME </a> > <a th:href="@{/admin/TbookList}"> 토익 </a> &gt; <span> 수정하기 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>토익 교재 수정하기</h1>
                <div class="card p-3">
                    <form th:action="@{/admin/TbookUpdate}" method="post" class="mt-4 mb-5" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="id">작성자</label>
                            <input type="hidden" name="Tbno" th:value="${Tbook.no}" />
                            <input type="text" class="form-control bg-secondary text-white" name="id" id="id"
                                   th:value="관리자"
                                   minlength="4" maxlength="16"
                                   pattern="^[a-z0-9]*$" readonly/>
                        </div>

                        <div class="form-group">
                            <label for="title"> 제목 </label>
                            <input type="text" class="form-control" name="title" id="title" placeholder="Title" minlength="1"
                                   maxlength="30" th:value="${Tbook.title}" required/>
                        </div>

                        <div class="form-group">
                            <label for="content"> 교재 내용 </label>
                            <textarea class="form-control" name="content" id="content" placeholder="교재 설명"
                                      maxlength="1000" required rows="10">[[${Tbook.content}]]</textarea>
                            <input type="hidden" id="ck" value="no">
                            <div class="textCount"><span id="contentTextArea">0</span>/1000</div>
                        </div>

                        <div class="form-group">
                            <label for="servecontent">요약 설명</label>
                            <textarea class="form-control" name="servecontent" id="servecontent" placeholder="교재 요약"
                                      maxlength="100" required rows="3">[[${Tbook.servecontent}]]</textarea>
                            <div class="textCount"><span id="serveTextArea">0</span>/100</div>
                        </div>

                        <div class="form-group">
                            <label for="price"> 가격 </label>
                            <input type="text" class="form-control" id="price" placeholder="가격"
                                   maxlength="7"
                                   oninput="formatPrice(this);" th:value="${Tbook.price}" required/>
                            <input type="hidden" name="price" id="hiddenPrice" th:value="${Tbook.price}">
                        </div>

                        <div class="form-group">
                            <label for="publish">출간일</label>
                            <input type="text" class="form-control datepicker" name="publish" id="publish" placeholder="출간일"
                                   th:value="${Tbook.publish}" required/>
                        </div>


                        <div class="form-group mt-4">
                            <label>기존파일</label><br>
                            <th:block th:each="file, status : ${fileList}">
                    <span style="margin-right: 10px">
                        <i class="fa-solid fa-file"></i> <span th:id="'file'+${status.count}" th:text="${file.getOriginfile()}"></span>
                    </span>
                            </th:block>
                            <th:block th:if="${fileList == null}">
                                첨부된 파일이 없습니다.
                            </th:block>
                        </div>

                        <div class="form-group mt-4">
                            <div class="form-group">
                                <label for="files" id="file-js-example1" class="d-block">
                                    <input type="file" class="form-control border-0 mb-2" name="files" id="files" onchange="addFile(this);"
                                           accept="image/png, image/jpeg"> <!-- -->
                                    <div class="file-list"></div>
                                </label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <div class="form-group">
                                <input type="submit" class="btn btn-dark" value="수정">
                                <input type="reset" class="btn btn-danger" value="초기화">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <footer class="footer">
            </footer>

            <script th:src="@{/js/file.js}"></script>
            <script>
                $(function() {
                    // datepicker 초기화
                    $(".datepicker").datepicker({
                        dateFormat: 'yy-mm-dd',
                        changeMonth: true,
                        changeYear: true
                    });
                });
            </script>
            <script>
                $(document).ready(function() {
                    // 페이지 로드 시에 콘텐츠의 글자 수 계산 및 표시
                    var content = $('#content').val();
                    $('#contentTextArea').text(content.length);

                    // 페이지 로드 시에 요약 내용의 글자 수 계산 및 표시
                    var servecontent = $('#servecontent').val();
                    $('#serveTextArea').text(servecontent.length);
                });

                // 교재 설명
                $('#content').keyup(function(e) {
                    var content = $(this).val();

                    if (content.length == 0 || content == '') {
                        $('#contentTextArea').text('0');
                    } else {
                        $('#contentTextArea').text(content.length);
                    }

                    if (content.length > 1000) {
                        $(this).val(content.substring(0, 1000));
                        alert('글자수는 1000자까지 입력 가능합니다.');
                    }
                });

                // 교재 요약 설명
                $('#servecontent').keyup(function(e) {
                    var servecontent = $(this).val();

                    if (servecontent.length == 0 || servecontent == '') {
                        $('#serveTextArea').text('0');
                    } else {
                        $('#serveTextArea').text(servecontent.length);
                    }

                    if (servecontent.length > 100) {
                        $(this).val(servecontent.substring(0, 100));
                        alert('글자수는 100자까지 입력 가능합니다.');
                    }
                });
            </script>
            <script>
                function formatPrice(input) {
                    // 쉼표 제외하고 숫자만 가져오기
                    var numericValue = input.value.replace(/[^0-9]/g, '');
                    $("#hiddenPrice").val(numericValue);

                    // 쉼표 추가
                    var formattedValue = addCommas(numericValue);

                    // 입력 필드 업데이트
                    input.value = formattedValue;
                }

                function addCommas(value) {
                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
            </script>
        </div>
    </div>
</div>
</body>
</html>