<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>워드마스터</title>
    <th:block th:replace="include/head :: head" ></th:block>

</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<canvas id="canvasIn" class="canvasIn" ></canvas>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
        <h1>"Welcome, WordMaster!"</h1>
        <div class="d-flex align-items-center">
            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                    <div class="content">
                        <h3 style="line-height: 75px; text-align: center">WordMaster</h3>
                        <p style="text-align: center;">
                            우리는 학습을 좋아하는 모든 이들에게 <br> 최고의 경험을 제공하기 위해 노력하며, <br> WordMaster를 통해 <br> 사용자들이 영어의 매력을 느끼고 <br> 성취감을 느낄 수 있도록 최선을 다하고 있습니다. <br>

                            WordMaster와 함께라면 영단어를 더 즐겁게, <br> 효과적으로 습득할 수 있습니다. <br><br> 함께 성장하고 발전하는 여정에 <br> 참여해주셔서 감사합니다!
                        </p>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>맞춤 학습 경험 제공</h4>
                                    <p>학생의 수준에 맞춰 맞춤 학습 경험을 제공할 수 있습니다. <br> 학생들은 자신의 수준에 맞는 <br> 강의를 선택 가능합니다.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>전문적인 내용 제공</h4>
                                    <p>각 분류에 맞는 전문적인 내용을 제공하여 사용자들이 <br> 필요로 하는 정보를 정확하게 <br> 전달할 수 있습니다.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>효율적인 관리 및 평가</h4>
                                    <p>학습자들에게 효율적인 진도 관리와 평가를 제공할 수 있습니다. <br> 학습 목표에 대한 인식을 높이고 지속적인 성장을 함께 합니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
                    <a href="https://www.youtube.com/watch?v=jHUvglCxByw&list=PLMjoXH3primoaG19dE2PNWlxM8tRIAyCs" class="glightbox play-btn mb-4" title="시범영상 보러가기!" target="_blank"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h4 data-aos="fade-up" style="text-align: center">About us</h4>
                    <h3 data-aos="fade-up" style="text-align: center">WordMaster</h3>
                    <p data-aos="fade-up" style="text-align: center">초등, 중학, 수능, 토익 분류로 나뉘어 맞춤 학습 경험과 <br> 효율적인 진도 관리를 제공하는 영단어 전용 웹애플리케이션, <br> 당신의 영단어 능력을 발전시키는 최적의 학습 동반자!</p>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">영단어 전문 강의</a></h4>
                        <p class="description">사용자들에게 효율적이고 맞춤형으로 영단어를 전달하며, 언어 능력 향상을 지원하고 있습니다. <br> 우리의 애플리케이션은 사용자 경험을 중시하며, 언어 교육 분야에서 뛰어난 성과를 거두고 있습니다.</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">언어 능력 향상 지원</a></h4>
                        <p class="description">어떤 수준의 사용자라도 쉽게 접근할 수 있도록 설계되었으며, <br> 개개인의 학습 스타일과 수준에 맞춘 맞춤형 학습 경험을 제공합니다.</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">끊임없는 발전과 혁신</a></h4>
                        <p class="description">사용자들이 보다 효과적으로 언어 능력을 향상시킬 수 있도록 지속적으로 노력하고 있습니다. <br> 현대적 기술을 통해 언어 학습에 새로운 가능성을 제시하는 회사로서 끊임없는 발전을 약속드립니다.</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up" style="line-height: 55px;">"WordMaster"만의 <br> 다양한 레벨을 위한 교재 및 강의 소개</h2>
                <p data-aos="fade-up">영단어 학습은 모든 단계에서 중요합니다. 저희는 초등부터 성인까지 다양한 연령 및 레벨을 고려하여 제작한 교재와 강의를 소개합니다! <br>
                    더 나아가, 저희의 강의는 전문 강사진에 의해 진행되며 학습자들이 언어 능력을 향상시키고 자신감을 쌓을 수 있도록 지원합니다.</p>

            </div>

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="background-image: url(assets/img/초등.png);">
                        <div class="card-body">
                            <h5 class="card-title"><a th:href="@{/Ebook/EbookList}">초등 영단어</a></h5>
                            <p class="card-text" style="text-align: center">초등 영단어 학습은 언어 기초를 다지는 중요한 단계입니다. <br> WordMaster는 초등학생들을 위해 쉽고 재미있는 학습 콘텐츠를 제공하여
                                <br> 기본 어휘 습득과 발음 향상에 중점을 둡니다. </p>
                            <div class="read-more" style="padding-left: 440px;"><a th:href="@{/Ebook/EbookList}"><i class="bi bi-arrow-right"></i> '초등'교재 </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="card" style="background-image: url(assets/img/중학.png);">
                        <div class="card-body">
                            <h5 class="card-title"><a th:href="@{/Mbook/MbookList}">중학 영단어</a></h5>
                            <p class="card-text" style="text-align: center">중학생들은 문맥을 이해하고 표현력을 향상시키는 데에 초점을 맞춥니다.<br> WordMaster는 다양한 주제와 상황에 관련된 어휘를 다루며,
                                <br> 독해 능력과 어휘력을 함께 강화합니다. </p>
                            <div class="read-more" style="padding-left: 440px;"><a th:href="@{/Mbook/MbookList}"><i class="bi bi-arrow-right"></i> '중학'교재 </a></div>
                        </div>
                    </div>
                    <br><br>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/수능.png);">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">수능 영단어</a></h5>
                            <p class="card-text" style="text-align: center">수능은 어휘력은 핵심 요소 중 하나입니다. <br> WordMaster는 수능 영어 섹션에 나올 수 있는 어휘를 중심으로
                                <br> 학습자들에게 효과적인 대비를 제공합니다.</p>
                            <div class="read-more" style="padding-left: 440px;"><a th:href="@{/Hbook/HbookList}"><i class="bi bi-arrow-right"></i> '수능'교재 </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="card" style="background-image: url(assets/img/토익.png);">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">토익 영단어</a></h5>
                            <p class="card-text" style="text-align: center">토익은 업무 영어에 필요한 어휘력이 중요합니다. <br> WordMaster는 토익 시험에서 흔히 나오는 어휘와 표현들을 다루며,
                                <br> 비즈니스 주제를 중심으로 학습자들이 효과적으로 습득할 수 있도록 지원합니다. </p>
                            <div class="read-more" style="padding-left: 440px;"><a th:href="@{/Tbook/TbookList}"><i class="bi bi-arrow-right"></i> '토익'교재 </a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Values Section -->

<th:block th:replace="include/footer :: footer" ></th:block>
