<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>F.A.Q 관리</title>
    <style>
        .table-faq {
            border: none;
            display: inline-block;
        }

        table .faqCon {
            display: none;
        }

        table .faqCon:target {
            display: contents;
        }

        textarea {
            border: none;
        }


    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{@{/admin/userList}}"> HOME </a> &gt; <span> F.A.Q </span></p>
            </div>
            <div class="content-wrapper">
                <h1>자주 묻는 질문</h1>
                <div class="search_from" style="text-align: center"></div>
                <div class="card p-3">

                    <table id="myTable" class="table text-center mb-3" th:if="${not #lists.isEmpty(faqList)}">
                        <thead>
                        <tr>
                            <th style="text-align: left; width: 200px">No</th>
                            <th style="text-align: left;">제목</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="faq, num: ${faqList}">
                                <tr>
                                    <td th:text="${num.count}" style="text-align: left; width: 200px"></td>
                                    <td colspan="2" class="overDot" style="text-align: left; width: 900px;">
                                        <a th:href="'#faqCon'+${num.count}">[[${faq.title}]]</a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="faqCon" th:id="'faqCon'+${num.count}" >
                                        <td colspan="3">
                                            <textarea type="text" name="content" id="content" class="form-control" cols="100" rows="10" maxlength="500" readonly>[[${faq.content}]]</textarea>
                                        </td>
                                    <td class="table-faq">
                                        <button type="button" class="btn btn-primary" th:com="${faq.getNo() }" onclick="Edit(this.getAttribute('com'))">수정하기</button>
                                        <a th:href="@{/admin/faqDel_Admin(no=${faq.getNo()})}" class="btn btn-danger" onclick="eventremove()">삭제하기</a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                    <div>
                        <button type="button" onclick="reco()" class="btn btn-primary" style="float: right"> 작성 </button>

                    </div>
                </div>
            </div>
            <footer class="footer">
            </footer>
        </div>
    </div>
</div>
</body>
</html>

<script th:inline="javascript">
    function eventremove(){
        confirm("삭제하시겠습니까?")
    }

    function reco() {
        let popupOption = "width=700px, height=700px, top=150px, left=300px, scrollbar=yes, resizable=no";
        let popupUrl = '/team16/admin/faqAdd_Admin';
        window.open(popupUrl, 'child', popupOption);
    }
    function Edit(no) {
        let popupOption = "width=700px, height=700px, top=150px, left=300px, scrollbar=yes, resizable=no";
        let popupUrl = '/team16/admin/faqEdit_Admin?no='+no;
        window.open(popupUrl, 'child', popupOption);
    }
</script>
