<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>공지사항 상세보기</title>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/admin/userList}"> HOME </a> > <a th:href="@{/admin/notice_Admin}"> 공지사항 </a> > <span> 상세보기 </span></p>
            </div>
            <div class="col-lg-8">
                <div class="d-flex flex-column align-items-center justify-content-center right_side">
                    <h5 class="my-4" style="font-size:2.5em;font-weight:600;">공지사항 상세보기</h5>

                    <div class="container px-5">
                        <table class="table table-bordered mx-3">
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="text-center">제목</th>
                                <td th:text="${notice.title}"></td>

                            </tr>
                            <tr>
                                <th class="text-center">작성자</th>
                                <td th:text="${notice.author}"></td>

                            </tr>
                            <tr>
                                <th class="text-center">작성날짜</th>
                                <td th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd hh:mm')}"></td>
                            </tr>
                            <tr>
                                <th colspan="4" >내용</th>
                            </tr>
                            <tr>
                                <td colspan="4" th:text="${notice.content}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:href="@{/admin/notice_Admin}" class="btn btn-success">목록으로</a>
                        <a type="button" onclick="eventremove()" class="btn btn-danger"> 삭제하기 </a>
                        <a th:href="@{/admin/noticeEdit_Admin(no=${notice.no})}" class="btn btn-primary">수정하기</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
            </footer>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function eventremove(){
        if(confirm("삭제하시겠습니까?")){
            location.href="/admin/noticeDelete_Admin?no=[[${notice.no }]]"
        }
    }
</script>