<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>관리자페이지: 공지사항 목록</title>
    <style>
        td form {
            display: inline-flex;
        }
        select {
            width: 150px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/admin/userList}"> HOME </a> &gt; <span> 공지사항 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>공지사항</h1>
                <div class="search_from" style="text-align: center">
                    <select name="select_filter" class="select_filter">
                        <option value="1">제목</option>
                        <option value="2">작성자</option>
                        <option value="3">등록일</option>
                    </select>
                    <input type="text" name="search_filter" class="search_filter">
                </div>
                <div class="card p-3">
                    <table id="myTable" class="table text-center mb-3">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="noticeList, notice : ${noticeList}">
                                <tr>
                                    <td>[[${notice.count}]]</td>
                                    <td><a th:href="@{/admin/noticeGet_Admin(no=${noticeList.no})}">[[${noticeList.title}]]</a></td>
                                    <td>[[${noticeList.author}]]</td>
                                    <td th:text="${#temporals.format(noticeList.createdTime, 'yyyy-MM-dd hh:mm')}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                    <div>
                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/admin/noticeAdd_Admin}" class="btn btn-primary">글쓰기</a>
                        </th:block>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <script th:src="@{/js/datatables.js}"></script>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
