<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>1 대 1 문의관리</title>
    <style>
        .table-faq {
            border: none;
            display: inline-block;
        }

        table .faqCon {
            display: none;
        }

        table .faqCon:target {
            display: contents;
        }

        textarea {
            border: none;
        }


    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>
        <div class="main-panel">
            <div class="breadcrumb">
                <p><a th:href="@{/admin/userList}"> HOME </a> &gt; <span> 1 대 1 문의 </span></p>
            </div>
            <div class="content-wrapper">
                <h1>1 대 1 문의사항</h1>
                <div class="search_from" style="text-align: center"></div>
                <div class="card p-3">

                    <table id="myTable" class="table text-center mb-3" th:if="${not #lists.isEmpty(otoList)}">
                        <thead>
                        <tr>
                            <th style="text-align: left; width: 200px">No</th>
                            <th style="text-align: left">제목</th>
                            <th style="text-align: left;">이메일</th>
                            <th style="text-align: left;">등록시간</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="oto, num: ${otoList}">
                                <tr>
                                    <td th:text="${num.count}" style="text-align: left; width: 200px"></td>
                                    <td style="text-align: left">
                                        <a th:href="'#faqCon'+${num.count}">[[${oto.title}]]</a>
                                    </td>
                                    <td th:text="${oto.email}" style="text-align: left; "></td>
                                    <td th:text="${#temporals.format(oto.createdTime, 'yyyy-MM-dd hh:mm')}" style="text-align: left;"></td>
                                </tr>
                                <tr class="faqCon" th:id="'faqCon'+${num.count}" >
                                    <td colspan="4">
                                        <textarea type="text" name="content" id="content" class="form-control" cols="100" rows="10" maxlength="500" readonly>[[${oto.content}]]</textarea>
                                    </td>
                                    <td class="table-faq">
                                        <button type="button" class="btn btn-primary" th:com="${oto.getNo() }" onclick="reco(this.getAttribute('com'))">답변하기</button>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="footer">
            </footer>
        </div>
    </div>
</div>
</body>
</html>

<script th:inline="javascript">

    function reco(no) {
        let popupOption = "width=700px, height=700px, top=150px, left=300px, scrollbar=yes, resizable=no";
        let popupUrl = '/team16/admin/otoSubmit?no='+no;
        window.open(popupUrl, 'child', popupOption);
    }

</script>
