<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 수능 교재 수정하기 </title>
    <th:block th:replace="include/head :: head" ></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/product-filelist.css}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{/Hbook/HbookList}"> 수능 교재 </a> > <span> 수정하기 </span></p>
</div>
<div class="section properties">
    <div class="container">
        <h2> 수정하기 </h2>
        <form th:action="@{/Hbook/HbookUpdate}" method="post" class="mt-4 mb-5" enctype="multipart/form-data">
            <div class="form-group">
                <label for="id">작성자</label>
                <input type="hidden" name="Hbno" th:value="${Hbook.no}" />
                <input type="text" class="form-control bg-secondary text-white" name="id" id="id"
                       th:value="관리자"
                       minlength="4" maxlength="16"
                       pattern="^[a-z0-9]*$" readonly/>
            </div>

            <div class="form-group">
                <label for="title"> 제목 </label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Title" minlength="1"
                           maxlength="30" th:value="${Hbook.title}" required/>
            </div>

            <div class="form-group">
                <label for="content"> 요약 내용 </label>
                <textarea name="servecontent" class="form-control" id="servecontent" required>[[${Hbook.servecontent}]]</textarea>
            </div>

            <div class="form-group">
                <label for="content" class="form-label mt-4"> 내용 </label>
                <textarea name="content" class="form-control" id="content" required>[[${Hbook.content}]]</textarea>
                <input type="hidden" id="ck" value="no">
            </div>

            <div class="form-group">
                <label for="price" class="mt-4"> 가격 </label>
                <input type="text" class="form-control" name="price" id="price" placeholder="가격"
                   pattern="\d*" maxlength="7"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 7);" required th:value="${Hbook.price}"/>
            </div>

            <div class="form-group">
                <label for="publish" class="form-label mt-4"> 출판일 </label>
                <input type="text" name="publish" class="form-control datepicker" id="publish" required
                       th:value="${Hbook.publish}" readonly/>
                <input type="hidden" value="no">
            </div>


            <div class="form-group mt-4">
                <label>기존파일</label><br>
                <th:block th:each="file, status : ${fileList}">
                    <span style="margin-right: 10px">
                        <i class="fa-solid fa-file"></i> <span th:id="'file'+${status.count}" th:text="${file.getOriginfile()}"></span>
                    </span>
                </th:block>
                <th:block th:if="${fileList == null}">
                    첨부된 파일이 없습니다.
                </th:block>
            </div>

            <div class="form-group mt-4">
                <div class="form-group">
                    <label for="files" id="file-js-example1" class="d-block">
                        <input type="file" class="form-control border-0 mb-2" name="files" id="files" onchange="addFile(this);"
                               accept="image/png, image/jpeg" required> <!-- -->
                        <div class="file-list"></div>
                    </label>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-dark" value="수정">
                    <input type="reset" class="btn btn-danger" value="초기화">
                </div>
            </div>
        </form>
    </div>
</div>


<th:block th:replace="include/footer :: footer" ></th:block>
<script th:src="@{/js/file.js}"></script>
<script>
    $(function() {
        // datepicker 초기화
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        });
    });
</script>

</body>
</html>