<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수능 교재</title>
    <th:block th:replace="include/head :: head" ></th:block>

</head>
<body>
<th:block th:replace="include/header :: header" ></th:block>
<div class="breadcrumb">
    <p><a th:href="@{/}"> HOME </a> &gt; <a th:href="@{/Hbook/HbookList}"> 수능 교재 </a></p>
</div>
<section class="table-list">
    <div class="container">
        <h2 class="con-title"> 수능 교재 </h2>
        <div class="search_from">
            <select name="select_filter" class="select_filter">
                <option value="1">제목</option>
                <option value="2">내용</option>
                <option value="3">가격</option>
                <option value="4">출간일</option>
            </select>
            <input type="text" name="search_filter" class="search_filter">
        </div>
        <table class="List-table" id="myTable">
            <thead class="thead-light">
            <tr>
                <th>No</th>
                <th>교재</th>
                <th>제목</th>
                <th>내용</th>
                <th>가격</th>
                <th>출간일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Hbook, status : ${HbookList}">
                <td th:text="${status.count}"></td>
                <td style="width: 250px;">
                    <th:block th:if="${Hbook != null}">
                        <img style="max-width: 300px; height: auto" class="pro-img" th:src="|@{/upload/} + ${Hbook.fileList[0].savefile}|">
                    </th:block>

                </td>
                <td>
                    <p><a th:href="@{/Hbook/getHbook(no=${Hbook.fileBoard.no})}">[[${Hbook.fileBoard.title}]]</a></p>
                </td>
                <td>
                    <p>[[${Hbook.fileBoard.servecontent}]]</p>
                </td>

                <td>
                    <p>[[${Hbook.fileBoard.price}]]원</p>
                </td>
                <td>
                    <p>[[${Hbook.fileBoard.publish}]]</p>
                </td>
                <td>
                    <th:block sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/Hbook/HbookUpdate(no=${Hbook.fileBoard.no})}" class="btn1 right1">수정</a>
                        <a th:href="@{/Hbook/HbookDelete(no=${Hbook.fileBoard.no})}" class="btn2 right1">삭제</a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block sec:authorize="hasAuthority('ADMIN')">
            <div class="btn-team">
                <a th:href="@{/Hbook/fileUpload}" class="btn1 right1">작성</a>
            </div>
        </th:block>
    </div>
</section>>
<!-- datatables -->
<script th:src="@{/js/datatables.js}"></script>
<th:block th:replace="include/footer :: footer" ></th:block>
</body>
</html>